<apex:page standardController="Photo__c" recordSetVar="photos" sidebar="false">
    <apex:pageBlock title="Attachment List" id="photos_list">
		<apex:repeat value="{!photos}" var="a" id="photos_list">
            <!--    <apex:image url="{!URLFOR($Action.Attachment.Download, "00Pb000000RKqZp")}" /> -->
         <li>  {!a.Id} </li> 
       	</apex:repeat> 
    </apex:pageBlock>
</apex:page>